<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    
    <div class = "Home-Cont-Main">
        <main class="Home-Main">
            <div class = "Home-Cont-Section-Title">
                <h3 class="Home-Section-Title">Todos los productos</h3>
            </div>
            <div class ="Home-Cont-Section-Articulos">
                <section class="Home-Cont-Articulos">
                    <% for (let k = 0; k < products.length; k++) {%>
                        <article class="Home-Articulo">
                            <div class = "Home-Cont-Articulo-Imagen">
                                <img class="Home-Articulo-Imagenes" src=<%= products[k].image %>  alt= <%= products[k].name %>>
                            </div>
                            <div class ="Home-Cont-Articulo-texto">
                                <h4 class="Home-Articulo-Description"><%= products[k].name %></h4>
                                <p class="Home-Articulo-Price"><%= products[k].price %></p>
                            </div>
                        </article>
                    <% } %> 
                    <!--
                    <article class="Home-Articulo">
                        <div class = "Home-Cont-Articulo-Imagen">
                            <img class="Home-Articulo-Imagenes" src="\images\termo-generico.webp" alt="termo">
                        </div>
                        <div class ="Home-Cont-Articulo-texto">
                            <p class="Home-Articulo-Price"></p>
                            <p class="Home-Articulo-Discount">20$ OFF</p>
                            <h4 class="Home-Articulo-Description">Termo clásico</h4>
                        </div>
                    </article>
                    <article class=" Home-Articulo">
                        <div class = "Home-Cont-Articulo-Imagen">
                            <img class="Home-Articulo-Imagenes" src="\images\termo-y-mate-argentina.jpg" alt="termo">
                        </div>
                        <div class ="Home-Cont-Articulo-texto">
                            <p class="Home-Articulo-Price">$6.500 </p>
                            <p class="Home-Articulo-Discount">15$ OFF</p>
                            <h4 class="Home-Articulo-Description">Termo Argentino</h4>
                        </div>
                    </article>
                    <article class=" Home-Articulo">
                        <div class = "Home-Cont-Articulo-Imagen">
                            <img class="Home-Articulo-Imagenes" src="\images\mate-amplificador.webp" alt="mate">
                        </div>
                        <div class ="Home-Cont-Articulo-texto">
                            <p class="Home-Articulo-Price">$2.000 </p>
                            <p class="Home-Articulo-Discount">15$ OFF</p>
                            <h4 class="Home-Articulo-Description">Mate Amplificador</h4>
                        </div>
                        </article>
                    <article class=" Home-Articulo">
                        <div class = "Home-Cont-Articulo-Imagen">
                            <img class="Home-Articulo-Imagenes" src="\images\mate-boca.webp" alt="mate">
                        </div>
                        <div class ="Home-Cont-Articulo-texto">
                            <p class="Home-Articulo-Price">$2.000</p>
                            <p class="Home-Articulo-Discount">15$ OFF</p>
                            <h4 class="Home-Articulo-Description">Mate de Boca</h4>
                        </div>
                    </article>
                    <article class=" Home-Articulo">
                        <div class = "Home-Cont-Articulo-Imagen">
                            <img class="Home-Articulo-Imagenes" src="\images\mate-carpincho.webp" alt="mate">
                        </div>
                        <div class ="Home-Cont-Articulo-texto">
                            <p class="Home-Articulo-Price">$2.000</p>
                            <p class="Home-Articulo-Discount">15$ OFF</p>
                            <h4 class="Home-Articulo-Description">Mate Carpincho</h4>
                        </div>
                    </article>
                    -->
                </section>
            </div>
        </main>
    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
    
</body>
</html>