<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

    
<body>
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>

    <div class="Login-Main">

   
        <main class ="Login-Main-Cont">
            <div class ="Login-cont-Form">
                <form class ="Login-Form" action ="/login" method ="POST">
                    
                        
                        
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control <%= locals.email ? 'is-invalid' : null %>" id="floatingInput" placeholder="name@example.com" value="<%= locals.oldData ? oldData.email : null %>">
                            <label for="floatingInput">Email address</label>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                 <%= errors.email.msg %> 
                                </div>
                            <% } %>
                          </div>
                          <div class="form-floating">
                            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                 <%= errors.password.msg %> 
                                </div>
                            <% } %>
                          </div>
                            
                         
                        
                    
                    <br>
                    <br>
                    <div class ="Login-Cont-Botonones">
                       
                        <input type="submit" name = "Crear-Cuenta">
                        <!--<button type= "button" name="Crear-Cuenta" > Ingreso</button>-->
                    </div>
                </form>
            </div>
        </main>
    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
</body>
</html>