<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

    
<body>
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>

    <div class="Login-Main">
        <main class ="Login-Main-Cont">
            <div class ="Login-cont-Form">
                <form class ="Login-Form" action ="/login" method ="POST">
                    <div class ="Login-Cont-Campos-Datos">
                        
                        <% if (locals && locals.mensajesDeError) {%>
                            <%  if (mensajesDeError.length = 1 ) { %>
                                <input type="email" class= "Form-Registro-Email" name="email" placeholder="Ingrese su correo electrónico"><span style="color: red;"><label><%= locals.mensajesDeError[1].msg %></label></span>
                                <br>
                                <input type="password" class= "Form-Registro-Password" name="password" placeholder="Ingrese contraseña">
                                <br>
                                <span style="color: red;"><label><%= locals.mensajesDeError[0].msg %></label></span>
                            <% } else {%>  
                                <input type="email" class= "Form-Registro-Email" name="email" placeholder="Ingrese su correo electrónico"><span style="color: red;"><label><%= locals.mensajesDeError[1].msg %></label></span>
                                <br>
                                <input type="password" class= "Form-Registro-Password" name="password" placeholder="Ingrese contraseña"><span style="color: red;"><label><%= locals.mensajesDeError[2].msg %></label></span>
                                <br>
                            <%}%>
                            
                        <%} else {%>
                            <input type="email" class= "Form-Registro-Email" name="email" placeholder="Ingrese su correo electrónico">
                            <br>
                            <input type="password" class= "Form-Registro-Password" name="password" placeholder="Ingrese contraseña">
                            <br>
                            
                        <%}%>                   
                        
                    </div>
                    <br>
                    <br>
                    <div class ="Login-Cont-Botonones">
                       
                        <input type="submit" name = "Crear-Cuenta">
                        <!--<button type= "button" name="Crear-Cuenta" > Ingreso</button>-->
                    </div>
                </form>
            </div>
        </main>
    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
</body>
</html>