<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    
    
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% for( let i = 0; i < productos.length; i++ ) { %>    
        <div class="col">
          <div class="card ">
            <img src="<%= productos[i].imagen %> " class="card-img-top img-fluid" alt="Mate">
            <div class="card-body">
              <div class="truck"><i class="fas fa-shopping-cart"></i></div>
              <h4 class="card-title"><%= productos[i].name %></h4>
              <p class="card-text">$ <%= productos[i].precio %> </p>
              <h2>40% OFF</h2>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      




    <!-- <% for( let i = 0; i < productos.length; i++ ) { %>
        <div class="cont-articulos">
        <article class="articulos">
            <img class="imagen-producto" src="<%= productos[i].imagen %> " width="100%" alt="Mate">
            <div class="truck"><i class="fas fa-truck"></i></div>
            <div class="price-discount"><p class="price"><%= productos[i].precio %> </p>
            <p class="discount">40% OFF</p></div>
            <h4 class="description"><%= productos[i].name %> </h4>
        </article>
    </div>    
    <% } %> -->

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
    
</body>
</html>