<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>

    <div class ="Header">
        <%- include ('../partials/header') %>
    </div>

    <div class ="Cont_Gral_Form_newProduct">
        <div class="Cont_Form_newProduct">
            
            <div class ="Title_New_Product">
                <h2 class="Tittle_New_Product_H">Añadir nuevo producto</h2>    
            </div>
            <form action ="/products/new" method ="POST" class="register-form" enctype="multipart/form-data">


            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-product-hunt"></i></span>
                <input type="text" name = "nombreProduct" class="form-control" placeholder="Nombre del producto" aria-label="Username" aria-describedby="basic-addon1">
                <% if (locals.errors && errors.nombreProduct) { %>
                    <div class="text-danger">
                     <%= errors.nombreProduct.msg %> 
                    </div>
                <% } %>
            </div>
              
              <div class="input-group mb-3">
                <input type="text" name = "descProduct" class="form-control" placeholder="Descripción del producto" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Descripción</span>
                <% if (locals.errors && errors.descProduct) { %>
                    <div class="text-danger">
                     <%= errors.descProduct.msg %> 
                    </div>
                <% } %>
              </div>
              
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Categoría</label>
                <select class="form-select" name="categoria" id="inputGroupSelect01">
                    <option selected>Elegir...</option>
                    <% categorias.forEach(categoria => { %>
                  <option value= "<%=categoria.Id%>">
                    <%= categoria.Categorie%>
                </option>
                <% }) %>
                </select>
                <% if (locals.errors && errors.categoria) { %>
                    <div class="text-danger">
                     <%= errors.categoria.msg %> 
                    </div>
                <% } %>
              </div>
              
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" name = "precProduct" id ="precProduct" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
                <% if (locals.errors && errors.precProduct) { %>
                    <div class="text-danger">
                     <%= errors.precProduct.msg %> 
                    </div>
                <% } %>
              </div>
              
              <div class="input-group mb-3">
                <input type="text" name = "ofertProduct" id ="ofertProduct" class="form-control" placeholder="Oferta (opcional)" aria-label="Username">
                <span class="input-group-text">%</span>
                <div class="input-group">
                    <input type="file" name="imagen_product" id="imagen_product" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    
                  </div>
                  
              </div>
              <button type="submit" name ="ButonAddProduct" value="Agregar" class="btn btn-outline-success">Agregar</button>

            </form>
        </div>
    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
</body>
</html>
